@{
    ViewData["Title"] = "Gallery";
}
@{
    Layout = "";
}
@using Gallery.ViewModels;
@model LoginModel;

<head>
    <title>Login Form </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Login.css">
</head>
<body>
    <p></p>
    <form class="box" asp-action="Login" method="post">
        <h1>Login</h1>
        <input asp-for="Username" type="text" placeholder="Username">
        <input asp-for="Password" type="password" placeholder="Password">
        <button class="btn btn-primary" type="submit">Login</button>
        <a class="btn btn-primary" asp-controller="Login" asp-action="Register">Register</a>
    </form>

</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>



