
<head>
    <title>Register Form</title>
    <link rel="stylesheet" href="~/css/Login.css">
    <script src="~/js/RegisterModel.js"></script>
</head>
<body>

    <form class="box" action="index.html" method="post">
        <h1>Login</h1>
        <input id="UserName" type="text" name="Uname" placeholder="Username">
        <input id="Name"type="text" name="Name" placeholder="Name">
        <input id="Password"type="password" name="password" placeholder="Password">
        <input id="Age"type="text" name="Uage" placeholder="Age">
        <input id="Mail"type="text" name="Umail" placeholder="E-Mail">
        <input id="Profession"type="text" name="Uprofession" placeholder="Profession">
        @*<input type="submit" name="" value="Login">*@
    <button class="btn btn-primary" type="submit" onclick="Register()" asp-controller="Login" asp-action="Register">Register</button>    </form>
   

</body>
<script>


</script>