@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{}
@model Gallery.ViewModels.ChangePasswordVM

<link href="~/css/EditProfile.css" rel="stylesheet" />
<form asp-action="ChangePassword">
    <div class="editProfile">
        <div class="labels">
            <div class="doublePoint"><label>Your Password  </label>  <label>:</label></div>
            <div class="doublePoint"><label>New Password  </label> <label>:</label></div>
            <div class="doublePoint"><label>New Password Confirm  </label> <label>:</label></div>

        </div>
        <div class="inputs">
            <input id="UserName" type="password" asp-for="oldPassword">
            <input id="Name" type="password" asp-for="newPassword">
            <input id="Age" type="password" asp-for="newPasswordConfirm">
        </div>
    </div>

    <button class="btn btn-primary" type="submit">UPDATE</button>
</form>
<script>

</script>

