@{
    ViewData["Title"] = "Gallery";
}
@{
    Layout = "_Layout";
}
@using Gallery.Models;
@model ArtWork
<link rel="stylesheet" href="~/js/SelectedIndex.js" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/js/site.js" />
<div id="formForArtWork">
    <form asp-action="Edit" method="post">
        <div class="form-group">
            <label>ID</label>
            <input asp-for="Awid" type="text" class="form-control" id="inputId" placeholder=@Model.Awid>
        </div>
        <div class="form-group">
            <label>Name</label>
            <input asp-for="Awname" type="text" class="form-control" id="inputName" placeholder=@Model.Awname>
        </div>
        <div class="form-group">
            <label>Date</label>
            <input asp-for="Awdate" type="text" class="form-control" id="inputDate" placeholder=@Model.Awdate>
        </div>
        <div class="form-group">
            <label>Information</label>
            <input asp-for="Awinformation" type="text" class="form-control" id="inputInformation" placeholder=@Model.Awinformation>
        </div>
        <div class="form-group">
            <label> Type Of Work</label>
            <input asp-for="Awtype" type="text" class="form-control" id="inputType" placeholder=@Model.Awtype>
        </div>
        <div class="form-group">
            <label>Value</label>
            <input asp-for="Awvalue" type="text" class="form-control" id="inputValue" placeholder=@Model.Awvalue>
        </div>
        <label>Choose a Artist:</label>
        <select asp-for="Aid" id="inputArtist">
            @foreach (var item in ViewBag.artistobj)
            {
                <option  value="@item.Aid">@item.Aname</option>
            }
        </select>
        <button class="btn btn-primary" type="submit">UPDATE</button>
    </form>
</div>

